.wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  width: 70rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.backBtn {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.backBtn:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.upBoarder {
  height: 1rem;
  background: linear-gradient(90deg, rgba(173, 173, 175, 1) 10%, rgba(233, 232, 230, 1) 74%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wrapper h1 {
  text-align: center;
}

.insideBlock {
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  font-size: 25px;
  text-align: center;
}

.commentsTitle {
  text-align: center;
}

.blockComment {
  margin-left: 5rem;
  margin-right: 5rem
}

.commentWrapper>p{
  color: rgb(120, 107, 90);
}

.loading {
  text-align: center;
}